.Sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15%;
    padding: 15px 15px 15px 15px;
    border-right: 2px solid #e5e5e5;
}

.Sidebar a {
    padding: 5px;
}

.Active {
    border-radius: 16px;
    background: #0070f0;
    color: white;
    font-weight: bold;
    text-align: center;
}