.SearchHistory{
    width: 30%;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 16px;
}

.Body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}