.Main {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 16px;
    height: fit-content;
}

.Wrapper {
    background: #eaeaea;
    padding: 15px;
    border-radius: 16px;
    height: fit-content;
}

.Header{
    margin-bottom: 15px;
}

.Header h1 {
    font-weight: bold;
}

.Body {
    height: 100%;
}